@charset "UTF-8";
html, body, div, p, h1, h2, h3, h4, h5, h6, ul, li, img {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
header, footer, section, nav, article, aside {
        display: block;
}
video {
	max-width:100%;
}

img {
	max-width: 100%;
}
	.gridContainer {
		margin-left: auto;
		margin-right: auto;
		width: 86.45%;
		max-width: 479px;
		padding-left: 2.275%;
		padding-right: 2.275%;
		clear: none;
		float: none;
		}
	.gridContainer #top  {
		width: auto;
		height: 25px;
		border-bottom: thin solid #D2D2D2;
	}
	.gridContainer #top .top_mail {
		text-align: left;
	}
	#top .top_mail img {
		width: 20px;
		margin-left: 80px;
	}
	.gridContainer #top .top_home {
	}
	#top .top_home img {
		width: 20px;
		float: right;
		margin-right: 80px;
	}
	.gridContainer #head  {
		height: 25px;
	}
	.gridContainer #head img {
		width: 50px;
	}
	.gridContainer #head h1 {
	color: #575757;
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 20px;
	}
	.gridContainer #menu  {
		height: 50px;
		position: relative;
		z-index: 3;
	}
	#menu ul  {
		padding-top: auto;
		padding-right: auto;
		padding-bottom: auto;
		text-align: center;
	}
	#menu ul li {
		display: inline-block;
		width: 55px;
		height: 50px;
		text-align: center;
		vertical-align: top;
		color: #191919;
		overflow: hidden;
		border-radius: 10px;
	}
	#menu ul li a {
		text-decoration: none;
		color: #8F8F8F;
		text-size: 1pt;
	}
	#menu ul li p {
		padding-top: 16px;
		font-size: x-small;
		margin-top: 3px;
	}
	#menu .subtext{
		padding-top: 13px;
		font-size: x-small;
		}
	#menu ul #green {
		background-color: #0A5C1D;
	}
	#menu ul #yellow {
		background-color: #FBC700;
	}
	#menu ul #red {
		background-color: #84113B;
	}
	#menu ul #purple {
		background-color: #5122B4;
	}
	#menu ul #blue {
		background-color: #0F1D76;
	}
	.gridContainer #content  {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	.gridContainer #form {
		color: #356535;
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
		width: 65%;
		padding: 20px;
		margin: 50px auto;
		border: 6px solid #986514;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		position: relative;
		background-color: #E6E6E6;
	}
	.gridContainer #form input, select, textarea, label {
		font-size: 10px;
		margin-bottom: 1px;

		}
	.gridContainer #form input, select, textarea {
		width: 100%;
		border: 1px solid #cdd1e8;
		margin-bottom: 1px;
		padding: 1px;
		}
	.gridContainer #form input:focus, select:focus, textarea:focus {
			border: 1px solid #afcdd8;
			background-color: #EBF2F4;
		}
	.gridContainer #form textarea {
			height: 50px;
			resize: none;
		}
	.gridContainer #form label {
	display: block;
	text-align: left;
		}
	.gridContainer #form .required {
			font-weight: bold;
			color: #f00;
		}
	.gridContainer #form #submit-button {
	width: 50px;
	color: #FFF;
	border: none;
	display: block;
	margin-bottom: 0px;
	margin-right: 6px;
	background-color: #8FB5C1;
	-moz-border-radius: 8px;
	border-radius: 2px;
	}

	.gridContainer #form #submit-button:hover {
		background-color: #A6CFDD;
	}

	.gridContainer #form #submit-button:active {
		position:relative;
		top:1px;
	}

	.gridContainer #req-field-desc {
	font-style: italic;
	top: 1px;
	}

	.gridContainer #form #loading {
		width:32px;
		height:32px;
		background-image:url(../assign5_images/loading.gif);
		position:absolute;
		right:100px;
		bottom:16px;
		display:none;
	}
	.gridContainer #errors {
	border: solid 1px #E58E8E;
	padding: 2px 0px;
	margin: 2px 0px;
	width: 200px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-image: url(../assign5_images/cancel.png);
	background-color: #FFE6E6;
	font-weight: bold;
	display: none;
	background-position: 100% center;
	background-size: 50px auto;
	}

	.gridContainer #errors li {
		padding:2px;
		list-style:none;    
	}

	.gridContainer #errors li:before {
		content: ' - ';    
	}

	.gridContainer #errors #info {
		font-weight:bold;
	}

	.gridContainer #errors #info:before {
		content: '';    
	}
	.gridContainer #success {
	border: solid 1px #83D186;
	padding: 2px 0px;
	margin: 2px 0px;
	width: 200px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-repeat: no-repeat;
	background-image: url(../assign5_images/accepted.png);
	background-color: #D3EDD3;
	font-weight: bold;
	display: none;
	background-position: 100% center;
	background-size: 50px auto;
	}

	.gridContainer #errors.visible, #success.visible {
		display:block;    
	}
	.gridContainer #article {
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
	background-color: #E6E6E6;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -48px;
	height: 480px;
	color: #356535;
	text-align: center;
	}
.gridContainer #article .advocate {
	width: 80px;
}
#article .movie .mov {
	border: medium solid #746E0F;
	border-radius: 5px;
	width: 50%;
	height: 100%;
	}
	.gridContainer #article h1 {
	color: #356535;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: large;
	padding-left: 5%;
	padding-top: 2%;
	}
	.gridContainer #article #top-article {
		width: 50%;
		height: 40%;
	}
	#article #top-article #top-article-right {
		width: 100%;
		height: 100%;
		margin-left: 100%;
	}
	#article #top-article p {
		text-align: center;
	}
	.background #article h2 {
	font-size: medium;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color: #356535;
	text-align: left;
	margin-top: 15px;
	text-indent: 15px;
	}
	.gridContainer #article #bottom-article {
		width: 50%;
		height: 40%;
	}
	#article #bottom-article #bottom-article-right {
		width: 100%;
		height: 100%;
		margin-left: 100%;
	}
	.gridContainer #article p {
		text-indent: 25px;
		width: 75%;
		clear: both;
		color: #505050;
		text-align: left;
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		font-size: x-small;
	}
	.gridContainer #article #example-list {
	width: 75%;
	text-align: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #505050;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: x-small;
	}
.gridContainer #article .smart {
	width: 150px;
	margin-top: 25px;
}
.background #article .pencils {
	width: 150px;
}
.gridContainer #article .helen {
	margin-top: 20px;
}
.gridContainer #article .my_rights {
	width: 250px;
}
.gridContainer #article .parents {
	width: 235px;
}
	.gridContainer #article .links {
	width: 100%;
	border-collapse: collapse;
	margin-top: 65px;
	}
	.gridContainer #article .links tr {
		border-bottom: 1px solid #ccc;
	}
	.gridContainer #article .links th   {
		text-align: center;
		font-size: large;
		color: #585858;
	}
	.gridContainer #article .links td {
	font-size: x-small;
	text-align: left;
	color: #585858;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	}
	.gridContainer #article .links td a {
		text-decoration: none;
		color: #585858;
	}
#article .links .td-head  {
	font-weight: bolder;
	text-decoration: underline;
}
	.gridContainer #article .links a:hover {
		background-color: #C69C1A;
		color: #650865;
		}
	.gridContainer #middle ul  {
		list-style-type: none;
		text-align: center;
		height: 25px;
		}
	.gridContainer #middle ul li  {
		display: inline-block;
		text-align: center;
		list-style-type: none;
		margin-top: 25px;
	}
	.gridContainer #middle ul li a  {
		text-decoration: none;
		color: #8F8F8F;
		list-style-type: none;
	}
	.gridContainer #middle p   {
		color: #929292;
		font-size: small;
		padding-top: 18px;
	}
	span.text-content {
		background: rgba(0,0,0,0.5);
		color: #C4C4C4;
		cursor: pointer;
		display: table;
		height: 50px;
		left: 0;
		position: absolute;
		top: 0;
		width: 50px;
		opacity: 0;
		border-radius: 10px;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		-o-transition: opacity 500ms;
		transition: opacity 500ms;
		}
	 span.text-content span{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		border-radius: 10px;
		font-size: xx-small;
		}
	ul li:hover span.text-content {
		opacity: 1;
		font-size: x-small;
		}
	.background .gridContainer #left-middle {
		background-color: #84113B;
		height: 50px;
		width: 50px;
		margin-top: 0px;
		top: 0px;
		border-radius: 10px;
		position: relative;
	}
	.background .gridContainer #middle-middle {
		background-color: #0A5C1D;
		height: 50px;
		width: 50px;
		border-radius: 10px;
		position: relative;
	}
	.background .gridContainer #right-middle {
		background-color: #0F1D76;
		height: 50px;
		width: 50px;
		margin-top: 0px;
		top: 0px;
		border-radius: 10px;
		position: relative;
	}
	.gridContainer #article .movie {
		text-align: center;
		margin-top: 30px;
	}

	.gridContainer #bottom  {
	height: 120px;
	width: 100%;
	clear: both;
	color: #C6C6C6;
	background-color: #222222;
	margin-top: 25px;
	max-width: 1232px;
	margin-left: auto;
	margin-right: auto;
	}
	.gridContainer #footer  {
		height: 25px;
		text-align: center;
		font-size: xx-small;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 90px;
	}
	#bottom #footer p a {
		color: #C6C6C6;
	}

/* Desktop Layout: Apply Full site attributes */
        .background {
                text-shadow: 0px 0px;
                background-color: #FFFFFF;
        }
        .gridContainer {
                width: 88.5%;
                max-width: 1232px;
                padding-left: 0.75%;
                padding-right: 0.75%;
                }
        .gridContainer #head  {
            height: 40px;
        }
        .gridContainer #head h1 {
        font-size: 70px;
        }
        .gridContainer #menu  {
        height: 50px;
        position: relative;
        margin-top: 35px;
        }
        #menu ul li {
                width: 100px;
        }
.gridContainer #article {
	height: 600px;
}
        .gridContainer #article .advocate {
        width: 20%;
        margin-top: -12px;
        }
.gridContainer #article .my_rights {
	width: 420px;
}
.gridContainer #article .smart {
	width: 350px;
}
.gridContainer #article .parents {
	width: 550px;
}
.gridContainer #article .helen {
	width: 350px;
}
        .gridContainer #article h1 {
                font-size: x-large;
        }
        .gridContainer #article #example-list {
                width: 50%;
                font-size: small;
        }
        .gridContainer #article .links th   {
                text-align: center;
                font-size: x-large;
        }
        .gridContainer #article .links td {
                font-size: large;
                text-align: left;
        }
.gridContainer #article .mov {
	height: 300px;
}
        .gridContainer #middle p   {
                font-size: x-large;
                padding-top: 43px;
        }
        span.text-content {
                height: 120px;
                width: 150px;
        }
         span.text-content span{
                 font-size: medium;
        }
        .background .gridContainer #left-middle {
                height: 120px;
                width: 150px;
        }
        .background .gridContainer #middle-middle {
                height: 120px;
                width: 150px;
        }
        .background .gridContainer #right-middle {
                height: 120px;
                width: 150px;
        }
        .gridContainer #footer  {
                font-size: x-small;
        }


